body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}
body a{
    text-decoration: none;
}





header {
    background-color: #53c757;
    color: rgb(61, 61, 136);
    padding: 1em;
    text-align: center;
}










.col-lg-3, .col-md-6, .col-sm-12 {
    display: flex;
    align-items: center;
    text-align: center;

}
.col-lg-3:hover, .col-md-6:hover, .col-sm-12:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f0f0f0;
    color: #333;
}

.col-lg-6, .col-md-6, .col-sm-12{
    display: flex;
    justify-content: center;

}







nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}











.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.container-fluid h2{
display: flex;
justify-content: center;
}


.row {
    display: flex;

    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}


article {
    background-color: #f5efef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
 
    
}

.ver-mas:hover {
    background-color: #45a049;
}

.ver-mas{
   
    border: none;
    border-radius: 8px; 
    padding: 5px 10px ;  
    font-family: 'Arial', sans-serif; 
    cursor: pointer;
    background-color: #2e7130;  
    color: #fff;  
    transition: background-color 0.5s ease;  
}


#destinos article, #paquetes article {
    display: flex;
    flex-direction: column;
}

#destinos h2, #paquetes h2 {
    color: #4CAF50;
}

#destinos p, #paquetes p {
    margin-top: 10px;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

