$filtro-bg:
linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    );

$bg-position: (
    background-repeat: no-repeat,
    background-size: cover,
    background-position: center
);
