

body {
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
    color: black;
    
}

header {
    
    @include flex-center;
    background-color: rgb(249, 246, 246);
    
    

    .description {
        font-size: 3em;
        @include flex-center;
        width: 70%;
        
        
        .contenido {
           
            list-style: none;
            
            display: flex;
            width: 90%;
            justify-content: space-between;
            

            li { 
                
                border-radius: 15px;
                width: 100%;
                @include flex-center;
               
                
                a {
                    
                    
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}